<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.Name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.Email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= person.Address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= person.Phone %>
  </p>

  <p>
    <strong>Librarycard:</strong>
    <%= person.LibraryCard %>
  </p>

</div>
